/*
/ Name: SleekStore
/ Author: qSeek
/ Link: https://www.mc-market.org/resources/10013/
/ Support: https://discord.gg/4sDtzrs
*/
:root {
 --main-color: #3498DB;
 --main-color-transparent: rgb(52,152,219,0.6); /* This is the same color as main-color but for header (because it is transparent), 
											to convert --main-color to --main-color-transparent use 
											this website: https://www.rgbtohex.net/hextorgb/ 
											you will receive the color in this format rgb(x,x,x)
											you will need to edit that to rgb(x,x,x,0.6);
										   */
  --sleek-logo-size: 250px; /* Change Header Logo Size */
}

html {
     font-size: 15px!important;   
}

body { 
  background: #EFEFEF;
  font-family: 'Montserrat', sans-serif;
}
.logo {
     text-align: center;
 }

.logo img {
    width: var(--sleek-logo-size);
    margin-bottom: 50px;
    animation: pulse 4s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse {
	0% {
        transform: scale(1);
	}
	50% {
        transform: scale(1.1);
	}
	100% {
        transform: scale(1);
	}
}
.store-content {
    margin-top: -45px;
}
.header {
    background: var(--main-color-transparent);
    position: relative;
    overflow: hidden;
}
.headerbg {
    position: absolute;
    z-index: -1;
    background: url(https://i.imgur.com/7gRx5CI.png);
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: blur(7px);
}
.navbar-default {
    background: transparent;
}
.navbar-nav>li {
    transition: 0.05s;
    float: unset;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 12px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background: #fff;
    border-left: 4px solid var(--main-color);
    color: #373737;
}
.navbar-nav {
    float: unset!important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 0!important
}
.navbar-default .navbar-nav>li>a {
    color: #373737;
    font-weight: bold;
    font-size: 15px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #373737;
    border-left: 4px solid var(--main-color);
}
.dropdown-menu {
    position: unset;
    float: unset;
    border: 0;
    box-shadow: unset;
    border-left: 4px solid var(--main-color);
}
.topbar {
    background: rgba(255,255,255,0.2);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
}
.topbar ul {
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}
.topbar .topbar-items {
    float: left;
    display: flex;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.topbar ul li {
    float: left;
    margin: 0;
    margin-right: 25px;
}
.topbar ul li a {
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}
.topbar-server {
    margin-left: auto;  
    text-align: right;

}
.topbar-server .text {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #fff;    
}
.topbar-server .ip {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
.panel-default>.panel-heading {
    font-size: 14px;
    background: transparent;
    border: 0;
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    position: relative;
}
.panel-default {
    background: #fff;
    border: 0;
}
.panel-default>.panel-heading:after {
    position: absolute;
    content: "";
    width: 36px;
    height: 4px;
    right: calc(50% - 18px);
    bottom: 2px;
    background: var(--main-color);
    border-radius: 3px;
}
.topbar-items i {
    vertical-align: middle;
}
.topbar-items .text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.top-donator{
	display: grid;
	grid-template-columns: 84px auto;
}

.top-donator .data {
    margin: auto;
    margin-left: 10px;
}

.top-donator .data b {
	color: #373737;
}

.top-donator .avatar img {
	width: 64px;
}
.topdonator-module .panel-body {
	padding: 0;
}

.topdonator-module .avatar {
	height: 92px;
    position: relative;
    top: -7px;
    margin-bottom: -7px;
    margin-left: 12px;
    overflow: hidden;
}

.topdonator-module .data p {
	margin: 0;
}
.topdonator-module .data p.text {
	font-size: 10px;
	color: #000000;
}
.payments .payment img {
	width: 32px;
	border-radius: 4px

}
.payments {
	display: flex;
	justify-content: space-around;
	flex: 1;
}
.profile {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 12px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    padding: 15px;
}
.profile .information img {
    width: 45px;
    border-radius: 8px;
}
.profile .information .avatar {
    margin-top: auto;
    margin-bottom: auto;
}
.profile .information {
    display: flex;
}
.profile .information .info {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}
.profile .information .info .main {
	color: #828282;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}
.profile .information .info .sub {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile .information .settings {
    display: flex;
    margin-left: auto;
}
.profile .information .settings div {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
}
.profile .information .settings .logout i {
	color: #DB3434;
}
.profile .information .settings .basket i {
	color: var(--main-color);
}
.announce .bar {
	background: var(--main-color);
	animation: rainbow 15s infinite;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    padding: 15px;
    position: relative;
    margin-bottom: 10px;
}
.announce .bar .text {
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
}
.announce .bar i,.announce .bar em {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 28px;
}
.announce .bar .button {
    z-index: 2;
	margin-left: auto;
	margin-top: auto;
    margin-bottom: auto;
    background: rgb(255,255,255, 0.2);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
}
.announce .bar .button a {
	color: #fff;
	font-weight: bold;	
}
@keyframes rainbow {
	0% {
		background: var(--main-color);
    }
	20% {
		background: #db3434;
    }
    40% {
		background: #4ec344;
    }
	60% {
		background: #db34a0;
    }
	80% {
		background: #d8db34;
    }
	100% {
		background: var(--main-color);
    }                
}
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
footer .seekutils {
	background: #D0D0D0;
}
footer .seekrow {
	display: flex;
	justify-content: space-between;
	padding: 25px 25px 25px 25px;
}

footer .seekutils img {
	max-height: 250px;
	margin: auto;
	display: block;
}

footer .seekutils .block {
	flex: 1;
	margin: 0px 35px 0px 35px;
}

.seekcopyright {
	display: flex;
	background: #C4C4C4;

}

.seekrow .left {
	flex: 1;
	font-weight: bold;
    font-size: 12px;
    color: #828282;
    margin-top: auto;
	margin-bottom: auto;

}
.seekrow .right {
	flex: 1;

}
.seekrow .right img {
	display: block;
	margin-left: auto;
	width: 32px;
    filter: grayscale(1);
    transition: 1s;
}
.seekrow .right img:hover {
    filter: grayscale(0);
}
.seekrow .block .title {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #000000;
	margin-bottom: 15px;
	position: relative;
}
.seekrow .block .title:after {
    position: absolute;
    content: "";
    height: 4px;
    width: 28px;
    border-radius: 4px;
    background: var(--main-color); 
    left: calc(50% - 14px);
    bottom: -6px;
}
#ipvalue {
	opacity: 0;
	cursor: context-menu;
	position:fixed;
}
#CopyIP {
	cursor: pointer;
}
.seekutils .block li {
    margin: 15px 0px 15px 0px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #7b7b7b;
    list-style-type: none;
}
.seekutils .block ul {
    padding: 0;
}
.seekutils .block li a {
	color: #2c3e50;
}
.seek_themechanger {
	position: fixed;
	left: 0;
	top: 50%;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
	padding: 10px;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	cursor: pointer;
	z-index: 999;
	user-select: none;
	line-height: 1;
	background: #fff;
    color: #272727;
}
.dark .seek_themechanger {
	background: #272727;
    color: #fff;
}
@media (max-width: 991px){
    footer .seekrow {
        flex-direction: column;
    }
    .seekrow .right img {
        margin: auto;
    }
    .seek_themechanger {
        top: unset;
        bottom: 12px;
    }
}
.item-footer button {
	width: 100%;
	padding: 8px;
	border-radius: 4px;
    background: #61ec70;
    border: transparent;
    border-bottom: 3px solid #5eda64;
    font-weight: bold;
	text-transform: uppercase;
}
.item-footer button:hover, .item-footer button:focus , .item-footer button.focus, .item-footer button:focus:active, .item-footer button:hover:active {
	width: 100%;
	padding: 8px;
	border-radius: 4px;
	background: #51c55d;
	border: transparent;
    border-bottom: 3px solid #5eda64;
	font-weight: bold;
	text-transform: uppercase;
}
.announce .bar .text p {
	margin: 0;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:focus:active, .btn-primary:hover:active {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #2c3e50;
    padding: 8px;
    border-radius: 4px;
	background: #51c55d;
    border: transparent;
    border-bottom: 3px solid #5eda64;
}
.btn-secondary {
	padding: 8px;
	background: #ff3939;
	border-bottom: 3px solid #e83535;
	color: #fff;
	border-radius: 4px;
}
.navbar-nav {
    margin: 0;
}
body.dark {
    background: #1b1b1b;
    color: #e2e2e2;
}
.dark .panel-default {
    background: #272727;
    border: unset;
}
.dark .profile {
    background: #272727;
}
.dark .profile .information .info .main {
    color: #c1c1c1;
}
.dark .profile .information .info .sub {
    color: #fff;
}
.dark .navbar-nav>li {
    background: #272727;
}
.dark .navbar-default .navbar-nav>li>a {
    color: #e2e2e2;
}
.dark .topdonator-module .data p.text {
    color: #ececec;
}
.dark .top-donator .data b {
    color: #ececec;   
}
.dark .seekcopyright {
    background: #404040;
}
.dark .seekrow .block .title {
    color: #ececec;
}
.dark .seekutils .block li a {
    color: #c5c5c5;
}
.dark footer .seekutils {
    background: #333333;
}
.dark .modal-content {
    background-color: #272727;
}
.dark .modal-header {
    border-bottom: 1px solid #4e4e4e;
}
.dark .modal-footer {
    border-top: 1px solid #4e4e4e;
}

.dark .navbar-nav>li>.dropdown-menu {
    background: #272727;
}
.dark .navbar-default .navbar-nav>.open>a, .dark .navbar-default .navbar-nav>.open>a:hover, .dark .navbar-default .navbar-nav>.open>a:focus {
    background: #272727; 
    color: #e2e2e2;
}
.sk-cube-grid {
  width: 50px;
  height: 50px;
  position: fixed;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

@keyframes fadeOut {
 0% {
    opacity: 1;   
 }
 100% {
    opacity: 0; 
     visibility: hidden;
 }
}

#preloader {
	position: fixed;
	background: var(--main-color);
	width: 100%;
	height: 100%;
	z-index: 1000;
	transition: 1s;
}

.loaded#preloader {
    animation: fadeOut 0.8s ease-out;
    animation-fill-mode: forwards;
}
.dark .dropdown-menu>li>a:hover, .dark .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(255,255,255,0.2);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(0,0,0,0.2);
}
.dropdown-menu>li>a {
    color: #333;
}
.dark .dropdown-menu>li>a {
    color: #fff;
}
.dark .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #1b1b1b;
}
.dark .input-group .form-control:first-child, .dark .form-control {
    background: #1b1b1b;
    border: 0;
    color: #949494;
}
.dark .progress {
    background-color: #1b1b1b;
}
.progress {
    background-color: #efefef;
    height: 20px;
}
.progress-bar {
    background-color: var(--main-color);
}
.dark .quantity input {
    background: #272727;
    border: 0;
}
::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background: var(--main-color-transparent);
}


::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
@media (max-width: 450px){
    .seek-basket-reponsive {
        overflow-x: scroll;   
    }
}
.table-responsive {
    border: 0;
}
.item-wrapper img {
    margin: auto;
}
.dark hr {
	border-top: 1px solid #383838;
}
.modal-footer {
	display: flex;
}
.modal-currency {
	margin: auto 0px auto 0px;
}
.modal-buttons {
	margin-left: auto;
}
.dark .table-hover>tbody>tr:hover {
    background-color: rgb(0,0,0,0.1);
}
.panel img {
    max-width: 100%;
    height: unset!important;
}
#particles-header {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
}
.dark .swal2-popup, .dark .swal2-popup .swal2-header {
	background: #272727
}
.dark .swal2-title {
	color: #d8d8d8;
}
.dark .swal2-content {
	color: #cacaca;
}
.fa , .fas{
	font-size: 24px;
}
.topbar .fa, .topbar .fas {
	font-size: 18px;
}
.btn-featured {
    border: 0;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 12px 0;
}
.btn-featured:hover {
    border: 0;
    background: #43b04f;
    padding: 12px 0;
}
.featured {
    position: relative;   
}
.featured-badge {
    position: absolute;
    right: -10px;
    top: -10px;
    color: rgba(0, 0, 0, 0.5);
    background: var(--main-color);
    padding: 6px 16px;
    border-radius: 8px;
}
.payments-module {
    display: flex;
}
.payments-module .far {
    margin: auto;
    margin-right: auto;
    margin-right: 12px;
    font-size: 20px;
    color: #4e4e4e;
}
